In [ ]:
import pandas as pd
df = pd.read_excel(r"C:\Users\Rudra\Downloads\Homo sapiens_9056.xlsx")

In [6]:
df.head(10)

  Entry ID                 Source Organism Accession Code(s)
0     1A02                             NaN               NaN
1      NaN                    Homo sapiens            Q13469
2      NaN                    Homo sapiens            P01100
3      NaN                    Homo sapiens            P05412
4     1A1M                    Homo sapiens            P01889
5      NaN                    Homo sapiens            P61769
6      NaN  Human immunodeficiency virus 2               NaN
7     1A1N                    Homo sapiens            P01889
8      NaN                    Homo sapiens            P61769
9      NaN  Human immunodeficiency virus 1               NaN

In [5]:
df["Entry ID"].unique()

array(['1A02', nan, '1A1M', ..., '8U82', '8U83', '8U84'], dtype=object)

In [32]:
filt = df["Source Organism"] == "Homo sapiens"
df[filt]["Entry ID"]

4        1A1M
7        1A1N
10       1A1O
13       1A2C
17       1A3B
         ...
58801    8U7Z
58804    8U81
58808    8U82
58812    8U83
58816    8U84
Name: Entry ID, Length: 6587, dtype: object

In [ ]:
filtered_df = df[(df['Source Organism'] == 'Homo sapiens') & (df['Accession Code(s)'].str.count(',') == 2) ]

In [46]:
filtered_df

      Entry ID Source Organism       Accession Code(s)
58726     8THK    Homo sapiens  P04899, P63092, P50148
58731     8THL    Homo sapiens  P04899, P50148, P63092

In [48]:
pdb_ids = filtered_df['Entry ID'].tolist()

filtered_df.to_csv('Desktop/filtered_data.csv', index=False)

print(pdb_ids)

['8THK', '8THL']

In [ ]:
df_filter = pd.read_csv("Desktop/filtered_data.csv")

In [50]:
df_filter

  Entry ID Source Organism       Accession Code(s)
0     8THK    Homo sapiens  P04899, P63092, P50148
1     8THL    Homo sapiens  P04899, P50148, P63092

In [51]:
from itertools import combinations

In [72]:
dict_val = {}
for val in df_filter["Entry ID"].unique():
    filt = df_filter["Entry ID"] == val
    comb = combinations(list(df_filter[filt]["Accession Code(s)"].str.split(" "))[0],2)
    lst = []
    for value in list(comb):
        lst.append(value)
    dict_val[val] = lst

In [73]:
dict_val

{'8THK': [('P04899,', 'P63092,'),
  ('P04899,', 'P50148'),
  ('P63092,', 'P50148')],
 '8THL': [('P04899,', 'P50148,'),
  ('P04899,', 'P63092'),
  ('P50148,', 'P63092')]}